URL=http://localhost:5173
API=http://localhost:5000/api
RENDER_API=
TESTITUNNUS=robotti+clerk_test@example.com
TESTISALASANA=
UUSI_SALASANA=
CLERK_TESTIKOODI=424242
TESTISAHKOPOSTI_ETULIITE=robotti
TESTISAHKOPOSTI_DOMAIN=example.com
HEADLESS=false
SLOWMO=0.5